#register-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../../assets/login-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}